@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,900&display=swap');
body{
    color :black;
    font-family: 'Mulish', sans-serif;

}
.btn-primary{
    background-color: #065baa;
    border-color: #065baa;
}
.btn-success{
    background-color: #50b848;
    border-color: #50b848;

}
.dropdown-toggle::after {
    display: none;
}

.homepage{
    height: 100vh;
    // background-image: url(../../home.jpg);
    background-position: top;
    background-size: cover;
    // min-height: 4334px;

}
.header-one{
    height: 45px;
    background-color: #065bab;
   
}
.header-two{
    padding: 20px 0px;
}
.nav-two .nav-link {
    font-size: 20px;
}
.logo_menu{
    height: 50px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #444;  
}
  
.carousel-caption {
    color: #9c9c9c;
}
.carousel-inner{
    .item {
    -webkit-transition: -webkit-transform 100s ease-in-out !important;
    -o-transition: -o-transform 100s ease-in-out !important;
    transition: transform 100s ease-in-out !important;
    }
}

.caption-style-1 {
    bottom: 50%;
    -ms-transform: translateY(-23%);
    transform: translateY(-23%);
    left: 7%;
    h1 ,h2 ,.h1 ,.h2{
        font-size: 80px;
    }
    
}
.content_1{
    background-color: #50B848;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.content_2 {
    padding: 44px 30px 30px; 
}
.subhead-page {
    font-size: 35px;
    color: #0c5eac;
    font-weight: bolder;
    h3{
        font-size: 31px;
        font-weight: 600;
    }
}
.content_2_desc {
    margin-top: 30px;
}
.carousel-3col {
    padding: 2rem;
}
.img-carouslide{
    max-height: 100px;
    object-fit: cover;
}
.card-carrousel-content{
    font-family: 'Mulish', sans-serif;
    letter-spacing:1px;
    min-height: 345px;
    .card-title {
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
    }
    .card-text {
        line-height: 30px;
    }
}
.img-slide-second{
    max-height: 145px;
    object-fit: cover;
}
.slide-content-second{
    min-height: 315px;
    font-family: 'Mulish', sans-serif;
    letter-spacing:1px;
}
.second_title{
    color:#0c5eac;
    font-size: 22px;
}
.right-btn-slide{
    position: relative;
    top: 39%;
}
.left-btn-slide{
    position: relative;
    top: 39%;
}

.left-btn-slide  ,
.right-btn-slide {
    img{
        width: 52px;
    }
}
.read_more{
    position: absolute;
    bottom: 14px;
    right: 12px;
    font-size: 19px;
    color: #333;
    font-weight: bolder;
    font-family: 'Mulish', sans-serif;
    letter-spacing:1px;
    
}
.content_4{
    background-image: url(../../assets/mask_bottom_recta.png);
    background-color: #0c5eac;
    background-repeat: no-repeat;
    background-position: bottom;
}
.subhead-page-light{
    color: #fff;
    margin-top:65px;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 27px;
}
.content_4_desc{
    font-size: 18px;
    text-align: center;
}
.button-arrow {
    border: 2px solid #fff;
    border-radius: 30px;
    width: 40px;
    display: block;
    height: 40px;
    text-align: center;
    padding: 7px;
    color: #fff;
    
    &:hover{
        color: rgb(243, 242, 242);
    }
}
.date-slide{
    position: absolute;
    bottom: 20px;
}
.card-text {
    overflow: hidden;
    max-height: 175px;
}

.content_5{
    padding-top: 80px;
    min-height: 505px;
}

.button-an{
    padding: 12px 32px;
    font-size: 15px;
}


.content_6{
    background-image: url(../../assets/mask_bottom_recta.png);
    background-color: #0c5eac;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
}
.six_title{
    font-size: 21px;
    letter-spacing: 1px;
    color: #222;
    font-weight: 600;
    margin-bottom:25px;
}
.card-style-mon{
    p,h1,h2,h3,h4,h5{
        font-family: 'Mulish', sans-serif;
        
    }
    p{
        font-size: 16px;
        letter-spacing: 2px;
    }
    h4{
        letter-spacing: 1px;

    }
    .slide-content-six {
        padding: 55px 36px 26px;
    }
    .testi-desc {
        margin-bottom: 30px;
    }
}

.dot-pos{
    bottom: -51px;
}
.sparator {
    width: 100%;
    height: 96px;
}

.footer-home{
    background-color: #065bab;
    background-image: url(../../assets/mini_recta.png);
    background-repeat: no-repeat;
    background-position-x: 69%;
    
}

.bg-base-blue{
    background-color: #065bab;
}
.list-group-foot{
    padding-top:15px;
}

.list-foot{
    padding: 5px 4px;
    font-size: 13px;
    a {
        color: #fff;
    }
        
}

.foot-text{
    font-size: 15px;
    letter-spacing: 1px;
}

.icon_foot{
    width: 33px;
    display: inline-block;
    vertical-align: text-bottom;
}

.foti{
    font-size: 15px;
    font-weight: bold;
}
.to_top{
    width:50px;
}
.scroll_top{
    position: absolute;
    top: -54px;
    right: 130px;
}
.card-no-border{
    border: none;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px #ddd;
}
.masthead {
    height: 63vh;
    min-height: 300px;
    background-image: url('../../assets/Book_Claim.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  

.title_bk_card h4 {
    font-size: 47px;
    color: #fff;
}
.bk_card {
    background-repeat: no-repeat;
    background-position: right bottom;
}
.green-card {
    background-image: url('../../assets/card_mask_gren.png');
    background-color:#50b848;
}
.blue-card {
    background-image: url('../../assets/card_mask_blue.png');
    background-color: #065baa;
}
.content_bk_card {
    font-size: 31px;
    color: #fff;
}
.btn_bk{
    padding: 15px 80px;
    border-radius: 6px;
}
.btn_bk_med{
    padding: 15px 80px;
    border-radius: 6px;
}

.btn_bk_lg{
    font-size: 21px;
}

.content_2_bk{
    padding-top: 80px;
    min-height: 505px;
    padding-bottom: 76px;
    background-color: #f4f4f4;
}

//promo

.promo_header{
    height: 30vh;
    min-height: 300px;
    background-image: url('../../assets/promo_header.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.promo_hwai_text{
    height: 173px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.content_hwai_1{
    background-image: url('../../assets/promo-hwai-1.png');
    
}

.content_hwai_2{
    background-image: url('../../assets/promo-hwai-2.png');
    
}

.content_hwai_3{
    background-image: url('../../assets/promo-hwai-3.png');
    
}

@import "responsive.scss";
