
@include media-breakpoint-down(xs) {
    .dropdown-toggle::after {
        display: inline-block;
    }
    .list-group-foot{
        padding-top:15px;
        display: table-caption;
        column-count: 2;
    }
    .medsos {
        position: absolute;
        right: 0px;
        top: 36%;
    }
    .masthead{
        height: 20vh;
        background-size: contain;
    }
}
@include media-breakpoint-down(sm) {
    .dropdown-toggle::after {
        display: inline-block;
    }
    .list-group-foot{
        padding-top:15px;
        display: table-caption;
        column-count: 2;
    }
    .medsos {
        position: absolute;
        right: 0px;
        top: 36%;
    }
    .masthead{
        height: 20vh;
        background-size: contain;
    }
}
@include media-breakpoint-down(md) {
    .dropdown-toggle::after {
        display: none;
    }
}
@include media-breakpoint-down(lg) {
    .dropdown-toggle::after {
        display: none;
    }
}
@include media-breakpoint-down(xl) {
    .dropdown-toggle::after {
        display: none;
    }
}